<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teatime.mapper.CouponMapper">

    <select id="queryVoucherOfShop" resultType="com.teatime.entity.Coupon" parameterType="java.lang.Long">
        SELECT c.`id`,
               c.`shop_id`,
               c.`title`,
               c.`sub_title`,
               c.`rules`,
               c.`pay_value`,
               c.`actual_value`,
               c.`type`,
               fsc.`stock`,
               fsc.begin_time,
               fsc.end_time
        FROM tb_coupon c
                 LEFT JOIN tb_flash_sale_coupon fsc ON c.id = fsc.coupon_id
        WHERE c.shop_id = #{shopId}
          AND c.status = 1
    </select>
</mapper>
